doctype html
html(lang="en")
head
  meta(charset="utf-8")
  title @aacn500/fcc-reqheader
  meta(name="description", content="Request Header Parser for freeCodeCamp")
  meta(name="author", content="Andrew Nowak")
body
  h2 Readme
  p Go to 
    a(href="/api/whoami") /api/whoami
    |  and receive a json response including your ipaddress, language and the OS, as reported by your browser.
  p Created by 
    a(href="https://github.com/aacn500") @aacn500
    | .
